# BlakSton Server v2.1 - Linux Configuration
# Copy blakserv.cfg-linux to blakserv.cfg before starting.
# -------------------------------------------

[Path]
Bof                  loadkod/
Memmap               memmap/
Rsc                  rsc/
Rooms                rooms/
Motd                 ./
Channel              channel/
LoadSave             savegame/
Forms                ./
Kodbase              ./
PackageFile          ./

[Socket]
Port                 5959
MaintenancePort      9998
MaintenanceMask      ::ffff:127.0.0.1;::1

[Channel]
DebugDisk            Yes
ErrorDisk            Yes
LogDisk              Yes
Flush                Yes

[Login]

[Inactive]

[MessageOfTheDay]

[Session]

[Lock]

[Resource]
Language             0

[Memory]

[Auto]
SaveTime             0
SavePeriod           240
KodTime              0
KodPeriod            5
InterfaceUpdate      5
TransmittedTime      0
TransmittedPeriod    60
ResetPoolTime        0
ResetPoolPeriod      60

[Update]

[Account]

[Console]

[Rights]

[Constants]
Enabled   Yes
Filename  ./blakston.khd

[Advertise]

[Debug]

[Security]

[Service]

[MySQL]
Enabled     No
Host        127.0.0.1
Username    blakserv
Password    blaks3kr1t
Database    blakserv
